body {
	background-color: #475B63;
	}

.topnav{
	overflow: hidden;
	background-color: #12355B;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #F06543;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
